{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_title %}
Bag
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container bag-container mb-2">
    <div class="row">
        <div class="col">
            <h2 class="page-banner text-white mt-4 mb-4">Shopping Bag</h2>
        </div>
    </div>
</div>
<section id="cart-main">
    <div class="container">
        {% if bag_items %}
        <div class="row">
            <div class="col-lg-8">
                <div class="mb-3">
                    <div>
                        {% for item in bag_items %}
                        <div class="row mb-4">
                            <div class="col-md-5 col-lg-3 col-xl-3">
                                <div>
                                    <img class="img-fluid w-100 mb-4" src="{{ item.product.image.url }}"
                                        alt="{{ item.product.name }}">
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-9 col-xl-9">
                                <div>
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <a class="cart-product-name"
                                                href="{% url 'product_detail' item.product.id %}">{{ item.product.name }}</a>
                                            {% if item.product.onsale %}
                                            <p class="my-0"><strong>Price Each:
                                                </strong>${{ item.product.onsale_price  }}
                                            </p>
                                            <p><strong>Subtotal:
                                                </strong>${{ item.product.onsale_price | calc_subtotal:item.quantity }}
                                            </p>
                                            {% else %}
                                            <p class="my-0"><strong>Price Each: </strong>${{ item.product.price  }}</p>
                                            <p><strong>Subtotal:
                                                </strong>${{ item.poduct.price | calc_subtotal:item.quantity }}</p>
                                            {% endif %}

                                            <form class="form update-form mb-3" method="POST"
                                                action="{% url 'adjust_bag' item.item_id %}">
                                                {% csrf_token %}
                                                <div class="input-group input-group-{{ item.item_id }}">
                                                    Qty:
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm btn-outline-black rounded-0 decrement-qty_{{ item.item_id }} 
                                                            {% if item.size %}decrement-size_{{ item.item_id }}_{{ item.size }}{% endif %}"
                                                            data-item_id="{{ item.item_id }}"
                                                            data-size="{{ item.size }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm qty_input id_qty_{{ item.item_id }}" 
                                                        type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                        data-item_id="{{ item.item_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm btn-black rounded-0 increment-qty_{{ item.item_id }}"
                                                            data-item_id="{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                            <a class="update-link text-info">
                                                <i class="fas fa-sync-alt mr-2"></i>Update Quantity
                                            </a>
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center mt-3">
                                        <div>
                                            <a class="remove-item text-danger" id="remove_{{ item.item_id }}">
                                                <i class="fas fa-trash-alt fa-lg mr-2"></i>Delete Product
                                            </a>
                                        </div>
                                        <p class="upper-text cart-total">
                                            {% if item.product.onsale %}
                                            <p class="my-0 font-weight-bold">
                                                ${{ item.product.onsale_price | calc_subtotal:item.quantity }}</p>
                                            {% else %}
                                            <p class="my-0 font-weight-bold">
                                                ${{ item.product.price | calc_subtotal:item.quantity }}</p>
                                            {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card bg-light">
                    <div class="card-body">
                        <h2 class="cart-card-header text-center">Bag total</h2>
                        <ul class="list-unstyled">
                            <li class="d-flex align-items-center justify-content-between upper-text">Bag
                                Total<span>${{ total|floatformat:2 }}</span></li>
                            <li class="d-flex align-items-center justify-content-between upper-text">
                                Delivery<span>${{ delivery|floatformat:2 }}</span></li>
                            <li class="border-bottom my-2"></li>
                            <li class="d-flex align-items-center justify-content-between mb-4 upper-text">Grand
                                Total<span>${{ grand_total|floatformat:2 }}</span></li>
                        </ul>
                        {% if free_delivery_delta > 0 %}
                        <div class="card-footer text-center">
                            <p>Free delivery if you spend <strong
                                    class="card-footer-text">${{ free_delivery_delta }}</strong> more!</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row cart-footer-row">
            <div class="col-lg-8">
                <div class="text-center">
                    <a href="{% url 'products' %}" class="btn btn-black mt-2 mb-5 mr-2">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span>Keep Shopping</span>
                    </a>
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'checkout' %}" class="btn btn-black mt-2 mb-5">
                        <span>Secure Checkout</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </a>
                    {% else %}
                    <a href="{% url 'account_login' %}" class="btn btn-black mt-2 mb-5">
                        <span>Secure Checkout</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% else %}
        <p class="lead mb-5">Your bag is empty.</p>
        <a href="{% url 'products' %}" class="btn btn-black mb-5">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span>Keep Shopping</span>
        </a>
        {% endif %}
    </div>
</section>
{% endblock %}
{% block postloadjs %}
{{block.super}}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}
