{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section class="text-center container-fluid">
    <div class="row">
      <!-- Home banner -->
      <div class="col-12 col-lg-6 d-none d-lg-block home-banner mt-5">
        <div class="mt-5">
          <h1>Want to decorate?</h1>
          <p>Browse through our collection of furniture</p>
        </div>
        <div>
          <a href="#" class="btn btn-black">
            Shop Now
          </a>
        </div>
      </div>
      <div class="col-12 col-lg-6 d-none d-lg-block home-banner-image mt-5">
        <a href="#">
          <img src="media/myhome.jpg" alt="Home banner">
        </a>
      </div>
    </div>
  </section>
{% endblock %}
