{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Home banner -->
<section class="text-center container-fluid">
    <div class="row">
      <div class="col-12 col-md-4 d-md-block home-banner mt-5">
        <div class="mt-5">
          <h1>Want to decorate?</h1>
          <p>Browse through our collection of furniture</p>
        </div>
        <div>
          <a href="{% url 'products' %}" class="btn btn-black btn-lg">
            Shop Now
          </a>
        </div>
      </div>
      <div class="col-12 col-md-8 d-none d-md-block home-banner-image mt-5">
        <a href="#">
          <img src="{{ MEDIA_URL }}myhome.jpg" alt="Home banner">
        </a>
      </div>
    </div>
</section>
<!-- models -->
<section>
    <div class="row modalbanner text-center mb-5">
        <div class="col-4 mt-3">
            <div>
                <h5 class="pointer" data-bs-toggle="modal" data-bs-target="#Modal-1">
                    <i class="far fa-money-bill-alt"></i>
                    Free delivery over $200
                </h5>
            </div>
        </div>
        <div class="col-4 mt-3">
            <div>
                <h5 class="pointer" data-bs-toggle="modal" data-bs-target="#Modal-2">
                    <i class="fas fa-box"></i>
                    Home installation
                </h5>
            </div>
        </div>
        <div class="col-4 mt-3">
            <div>
                <h5 class="pointer" data-bs-toggle="modal" data-bs-target="#Modal-3">
                    <i class="fas fa-people-carry"></i>
                    Lifetime warranty
                </h5>
            </div>
        </div>
    </div>
    <!-- modals popup 1 -->
    <div class="modal fade" id="Modal-1" tabindex="-1" aria-labelledby="Modal-1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="Modal-1"><i class="far fa-money-bill-alt"></i> Free Delivery over $200</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              If you spend $200 or more we will deliver your goods for free!
            </div>
          </div>
        </div>
    </div>
    <!-- modals popup 2 -->
    <div class="modal fade" id="Modal-2" tabindex="-1" aria-labelledby="Modal-2" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="Modal-2"><i class="fas fa-box"></i> Home installation</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              When ordering products, please let us know if you need home installation for certain prodducts. 
              This service does come at a fee. 
            </div>
          </div>
        </div>
    </div>
    <!-- modals popup 2 -->
    <div class="modal fade" id="Modal-3" tabindex="-1" aria-labelledby="Modal-3" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="Modal-3"><i class="fas fa-people-carry"></i> Lifetime warranty</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Kick back, relax, and enjoy your Joybird pieces - each one of our manufactured pieces comes 
              with a lifetime warranty on all foundational elements.
            </div>
          </div>
        </div>
    </div>
</section>

<section class="container-fluid">
  <div class="row">
    <h4>Get your weekly fix of style inspo</h4>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
      <div class="mt-3">
          <div>
            <a href="#">
              <img class="inspo-card-home" src="{{ MEDIA_URL }}inspo2.png" alt=""/>
            </a>    
          </div>
          <div>
            <a class="inspo-title" href="{% url 'inspo_item' 6 %}">A touch of love is all it takes
            </a>
          </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
      <div class="mt-3">
          <div>
            <a href="#">
              <img class="inspo-card-home" src="{{ MEDIA_URL }}inspo6.png" alt=""/>
            </a>    
          </div>
          <div>
            <a class="inspo-title" href="{% url 'inspo_item' 11 %}">A dining room that’s ready for everything</a>
          </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-5 d-lg-none">
      <div class="mt-3">
          <div>
            <a href="#">
              <img class="inspo-card-home" src="{{ MEDIA_URL }}inspo5.png" alt=""/>
            </a>    
          </div>
          <div>
            <a class="inspo-title" href="{% url 'inspo_item' 10 %}">A smart, small home workspace in the hallway</a>
          </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
      <div class="mt-3">
          <div>
            <a href="#">
              <img class="inspo-card-home" src="{{ MEDIA_URL }}inspo4.png" alt=""/>
            </a>    
          </div>
          <div>
            <a class="inspo-title" href="{% url 'inspo_item' 9 %}">A serene green bedroom</a>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div>
      <a href="{% url 'inspo_items' %}" class="btn btn-black btn-lg">
        Explore more inspo
      </a>
    </div>
  </div>
</section>

<section class="text-center container-fluid">
  <div class="row">
    <div class="col-12 col-md-5 d-none d-md-block onsale-banner-image mt-5">
      <a href="#">
        <img src="{{ MEDIA_URL }}onsale-banner.jpeg" alt="Onsale banner">
      </a>
    </div>
    <div class="col-12 col-md-7 d-md-block onsale-banner mt-5">
      <div>
        <h1>Sale now on!</h1>
        <p>Shop online, or in store to get everything you need</p>
      </div>
      <div>
        <a href="{% url 'products' %}?category=all_specials" class="btn btn-white btn-lg mt-3">
          Shop Now
        </a>
      </div>
     
    </div>
  </div>
</section>

<section class="text-center container-fluid mt-5">
  <!-- Search by category buttons -->
  <div class="row category">
    <!-- Bedroom -->
    <div class="col-6 col-md-4 col-lg-2 text-center">
      <a class="category-card" href="{% url 'products' %}?category=beds,nightstands,dressers">
        <img src="{{ MEDIA_URL }}bed.jpg" class="imagebuttons" alt="Bedroom">
        <p class="mt-2 mb-4">Bedroom</p>
      </a>
    </div>
    <!-- Living room -->
    <div class="col-6 col-md-4 col-lg-2 text-center">
      <a class="category-card" href="{% url 'products' %}?category=sofas,chairs,tables">
        <img src="{{ MEDIA_URL }}sofa.jpg" class="imagebuttons" alt="Living room">
        <p class="mt-2 mb-4">Living room</p>
      </a>
    </div>
    <!-- Dining room -->
    <div class="col-6 col-md-4 col-lg-2 text-center">
      <a class="category-card" href="{% url 'products' %}?category=dining_chairs,dining_tables,bars">
        <img src="{{ MEDIA_URL }}diningroom.jpg" class="imagebuttons" alt="Dining room">
        <p class="mt-2 mb-4">Dining room</p>
      </a>
    </div>
    <!-- Office -->
    <div class="col-6 col-md-4 col-lg-2 text-center">
      <a class="category-card" href="{% url 'products' %}?category=desks,bookcases,office_chairs">
        <img src="{{ MEDIA_URL }}office.jpg" class="imagebuttons" alt="Office">
        <p class="mt-2 mb-4">Office</p>
      </a>
    </div>
    <!-- Garden -->
    <div class="col-6 col-md-4 col-lg-2 text-center">
      <a class="category-card" href="{% url 'products' %}?category=garden_tables,garden_chairs,garden_sofas">
        <img src="{{ MEDIA_URL }}garden.jpg" class="imagebuttons" alt="Garden">
        <p class="mt-2 mb-4">Garden</p>
      </a>
    </div>
    <!-- Specials -->
    <div class="col-6 col-md-4 col-lg-2 text-center">
      <a class="category-card" href="{% url 'products' %}?category=all_specials">
        <img src="{{ MEDIA_URL }}bar1.png" class="imagebuttons" alt="Specials">
        <p class="mt-2 mb-4">Specials</p>
      </a>
    </div>
  </div>
</section>


{% endblock %}
