{% extends "base.html" %}
{% load static %}
{% block extra_title %}inspo{% endblock %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="overlay"></div>
        <div class="container px-3 products-page">
            <div class="row inspo-items">
                <div class="col mt-3">
                    <h1 class="header-font mb-2 pt-1 text-center text-black">inspo Items ({{ inspo_items_count }})</h1>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="container">
                    <div class="row">
                        {% for inspo_item in inspo_items_published %}
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <div class="card inspo-card p-1 mt-3">
                                    <div class="">
                                        {% if inspo_item.image %}
                                            <a href="{% url 'inspo_item' inspo_item.id %}">
                                                <img class="inspo-card-img-top" src="{{ inspo_item.image.url }}" alt="{{ inspo_item.title }}"/>
                                            </a>
                                        {% else %}
                                            <a href="{% url 'inspo_item' inspo_item.id %}">
                                                <img class="inspo-card-img-top" src="{{ inspo_item.image_url }}" alt="{{ inspo_item.title }}"/>
                                            </a>
                                        {% endif %}
                                    </div>
                                    <p class="text-muted mb-0">Posted By: {{ inspo_item.user }}</p>
                                    <p class="text-muted">Posted On: {{ inspo_item.create_date }}</p>
                                    <p class="text-muted">{{inspo_item.inspo_item_text|slice:":150" }} ..........</p>
                                    <a href="{% url 'inspo_item' inspo_item.id %}" class="btn green-btn">Read More</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}