html {
    height: 100%;
}

body {
    color: #555;
    font-family: 'Roboto', sans-serif;
}

.page-banner {
    padding: 2rem;
    background-color: rgb(3, 106, 120);
    color: black;
  } 

hr {
    margin: auto;
    text-align: center;
}

/* ----- Navbar ----- */
.navbar {
    background-color: #F6F6F6;
    
}

#topnav {
    background-color: #F6F6F6;
}
  
/* ----- Footer ----- */
#footer {
    background-color: #F6F6F6;
}

footer h5 {
    font-weight: bolder;
    color: black; 
    text-decoration: none;
}

a.nav-link.main-logo-link {
    text-decoration: none;
    color: black; 
    margin-left: 15px;
}

footer i {
    margin-left: 20px;
}

footer li {
    list-style: none;
    color: #222;
}

footer ul {
    padding: 0;
    margin: 0;
}
  
footer a {
    color: #222;
    transition: 0.1s all ease-in-out 0.1s;
    text-decoration: none;
}

footer li a:hover {
    color: black;
    text-decoration: underline;
}
  
footer a i:hover {
    color: rgb(3, 106, 120);
    text-decoration: none;
}

/* Allauth form formatting */ 
.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
 }
  
.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}
  
.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}
  
.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}
  
.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
      /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
  
    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
  
.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
    color: #fff;
    background-color: #222;
    border-color: #222;
}

/* ----- Home Page ----- */
.home-banner {
    background-color: rgb(3, 106, 120);
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color:white;
    height: 600px
}
  
.home-banner p {
    font-size: 18px;
}

.home-banner h1 {
    padding-top: 220px;
}

.home-banner-image img {
    height: 600px; 
    width: 100%; 
}

.btn-black {
    background: #222;
    color: white;
    border-radius: 0%;
  }

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: white;
    color: black;
}

.btn-outline-black {
    background: white;
    color: black;
    border: 1px solid black;
    border-radius: 0%;
    text-decoration: none;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #222;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: black;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.onsale-banner {
    background-color: rgb(228, 35, 18);
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color:white;
    height: 400px;
}

.onsale-banner-image img {
    height: 400px; 
    width: 100%; 
}

.onsale-banner h1 {
    padding-top: 100px;
}

.btn-white {
    background: White;
    color: #222;
    border-radius: 0%;
}

.btn-white:hover,
.btn-white:active,
.btn-white:focus {
      background: whitesmoke;
      color: #222;
}

/* modals homepage */
.modalbanner {
    background-color: #F6F6F6;
    width: 100%;
    height: 50px;
}

.modal-header {
    border-bottom: none;
}

.modal-title {
    font-weight: 900;
}

.modal-content-home {
    background-color:rgb(3, 106, 120);
    color: white;
}

.pointer:hover {
    color:rgb(3, 106, 120);
}

.pointer {
    cursor: pointer;
    font-size: 16px;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* buttons homepage */
.imagebuttons {
    height: 130px;
    width: 170px;
}
  
.category a {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

/* ----- Products Page ----- */
a.category-badge > span.badge:hover {
    background: black !important;
    color: white !important;
}

.item-sale-price, .item-price {
    display: inline-block;
}

.item-sale-price {
    color: #800020;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* ----- Products Detail Page ----- */
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .descriptioncontent {
    display: inline;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }


/* ----- Toasts ----- */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* --- Shopping Bag --- */
.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.update-link,
.remove-item {
    cursor: pointer;
    font-size: 13px;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.cart-product-name{
color: #433E3F;
font-size: 16px;
}

.cart-product-name:hover{
color: grey;
text-decoration: none;
}

.cart-total{
font-weight: 600;
}

.cart-items-total{
margin: 3rem 0;
font-family: 'Lato';
}

.cart-card-header{
padding-bottom: 2rem;
text-transform: uppercase;
font-size: 20px;
font-weight: 500;
}

.card-footer-text{
font-size: 14px;
color: #d80000;
}

.cart-footer{
padding: 2rem 1rem;
font-size: 14px;
}

.cart-footer-row{
margin: 2rem 0;
}

/* --- Wishlist --- */
.wishlist {
    font-size: 1.6rem;
    padding-left: 15px;
}

.wishlist-remove {
    cursor: pointer;
}

.inspo-title {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding-bottom: 20px;
}

.inspo-title:hover {
    color: black;
    text-decoration: underline;
}

.add-inspo a {
    text-align: right;
}

/* --- inspo page --- */
.card-img-top {
    height: 300px;
    border: 0;
    margin: auto;
    margin-bottom: 10px;
}

.inspo-items {
    background-color: whitesmoke;
}

.inspo-card {
    width: 550px;
    border: 0;
    margin: auto;
    margin-bottom: 10px;
}

.inspo-card-home {
    width: 450px;
    border: 0;
    margin: auto;
    margin-bottom: 10px;
}

.inspo-card-img-top {
    width: 400px ;
    height: 400px ;
    border: 0;
    margin: auto;
    margin-bottom: 10px;
}

/* --- inspo item --- */
.inspo-detail {
    width: 600px ;
    height: auto ;
}

/* -------------------------------- 404 page */
/** This template was made by Colorlib  **/
#notfound {
    position: relative;
    height: 100vh;
  }
  
#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
.notfound {
    max-width: 920px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  
.notfound .notfound-404 {
    position: absolute;
    height: 100px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
  
.notfound .notfound-404 h1 {
    font-family: 'Maven Pro', sans-serif;
    color: #ececec;
    font-weight: 900;
    font-size: 276px;
    margin: 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
.notfound h2 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 46px;
    color: #000;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0px;
  }
  
.notfound p {
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 15px;
  }
  
.notfound a {
    font-family: 'Maven Pro', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: none;
    display: inline-block;
    padding: 16px 38px;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    font-weight: 400;
    transition: 0.2s all;
  }
  
.notfound a:hover {
    background-color: #fff;
    border-color: #bcd4de;
    color: #bcd4de;
}

/* -------------------------------- Media Queries */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
}

@media screen and (max-width: 1200px) {
    .container {
      max-width: 80%;
    }

    .inspo-card {
        width: 300px;
    }

    .inspo-card {
        height: 200px;
        width: 300px;
    }
  }

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait)  {
    .inspo-card-home {
        width: 300px;
        border: 0;
        margin: auto;
        margin-bottom: 10px;
    }
}

@media (min-width: 991px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
        text-align: right;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    body {
        padding-top: 80px;
    }

    .container-inspo {
        max-width: 100%;
      }

    .nav-item #home-link {
        margin-top: 20px;
    }
    
    button.navbar-toggler.collapsed {
        text-decoration: none;
    }

    .inspo-card {
        width: 270px;
        border: 0;
        margin: auto;
        margin-bottom: 10px;
    }

    .inspo-card-home {
        width: 350px;
        border: 0;
        margin: auto;
        margin-bottom: 10px;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
        color: black;
    }

    .item-price, .item-sale-price {
        font-size: 15px;
    }

    .home-banner {
        height: 325px
    }

    .home-banner p {
        font-size: 18px;
    }
    
    .home-banner h1 {
        padding-top: 25px;
    }
    
    .home-banner-image img {
        height: auto; 
        width: 100%; 
    }

    .onsale-banner {
        height: 200px
    }
    
    .onsale-banner-image img {
        height: auto; 
        width: 100%; 
    }

    .onsale-banner h1 {
        padding-top: 20px;
    }
}

@media (max-width: 576px) {
    body {
        padding-top: 70px;
    }

    .container {
        max-width: 100%;
      }

    .modalbanner {
        background-color: #F6F6F6;
        width: 100%;
        height: 80px;
    }

    .modal h5 {
        font-size: 12px;
    }

    .inspo-detail {
        width: 300px ;
        height: auto ;
    }

    .inspo-card-home {
        width: 350px;
        border: 0;
        margin: auto;
        margin-bottom: 10px;
    }

    .inspo-card {
        width: 350px;
        border: 0;
        margin: auto;
        margin-bottom: 10px;
    }

    .onsale-banner {
        height: 200px
    }

    div .table-responsive {
        font-size: 13px;
    }

    div .table-responsive .btn {
        font-size: 13px;
    }
}