html {
    height: 100%;
}

body {
    color: #555;
    font-family: 'Roboto', sans-serif;
}

.page-banner {
    padding: 2rem;
    background-color: rgb(3, 106, 120);
    color: black;
  } 

hr {
    margin: auto;
    text-align: center;
}

/* Navbar */
.navbar {
    display: unset;
    background-color: #F6F6F6;
    
}

#topnav {
    background-color: #F6F6F6;
}

/* ----- Footer ----- */
#footer {
    background-color: #F6F6F6;
}

footer h5, h2 {
    font-weight: bolder;
    color: black; 
    text-decoration: none;
}

footer i {
    margin-left: 20px;
}

footer li {
    list-style: none;
    color: #222;
}

footer ul {
    padding: 0;
    margin: 0;
}
  
footer a {
    color: #222;
    transition: 0.1s all ease-in-out 0.1s;
    text-decoration: none;
}

footer li a:hover {
    color: black;
    text-decoration: underline;
}
  
footer a i:hover {
    color: rgb(3, 106, 120);
    text-decoration: none;
}

/* Style the review dropdown button */
#review-options,
#no-reviews {
    color: #ccc;
}
 
#review-options:hover,
#review-options:active,
#review-options:focus {
    color: #FFD700;
}

/* banner homepage */
.home-banner {
    background-color: rgb(3, 106, 120);
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color:white;
    height: 600px
}
  
.home-banner p {
    font-size: 18px;
}

.home-banner h1 {
    padding-top: 220px;
}

.home-banner-image img {
    height: 600px; 
    width: 100%; 
}

.btn-black {
    background: #222;
    color: white;
    border-radius: 0%;
  }

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
      background: white;
      color: black;
}

.btn-outline-black {
    background: white;
    color: black;
    border: 1px solid black;
    border-radius: 0%;
    text-decoration: none;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
      background: #222;
      color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: black;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* modals homepage */

.modalbanner {
    background-color: #F6F6F6;
    width: 100%;
    height: 50px;
}

.modal-header {
    border-bottom: none;
}

.modal-title {
    font-weight: 900;
}

.modal-content {
    background-color:rgb(3, 106, 120);
    color: white;
}

.pointer:hover {
    color:rgb(3, 106, 120);
}

.pointer {
    cursor: pointer;
    font-size: 16px;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* buttons homepage */

.imagebuttons {
    height: 150px;
    width: 200px;
}
  
.category a {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

/* products badeges */
a.category-badge > span.badge:hover {
    background: black !important;
    color: white !important;
}

.item-sale-price, .item-price {
    display: inline-block;
}

.item-sale-price {
    color: #800020;
}

/* toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* --- Shopping bag --- */
.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* --- wishlist --- */

.wishlist {
    font-size: 1.6rem;
    padding-left: 15px;
}
.wishlist-remove {
    cursor: pointer;
}


/* -------------------------------- Media Queries */

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
}
  
  /* Allauth form formatting */
  
.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
 }
  
.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}
  
.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}
  
.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}
  
.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
      /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
  
    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
  
.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
    color: #fff;
    background-color: #222;
    border-color: #222;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* --- inspo page --- */
.card-img-top {
    height: 300px;
    border: 0;
    margin: auto;
    margin-bottom: 10px;
}

.inspo-items {
    background-color: whitesmoke;
}

.inspo-card {
    width: 400px;
    border: 0;
    margin: auto;
    margin-bottom: 10px;
}
.inspo-card-img-top {
    width: 400px ;
    height: 400px ;
    border: 0;
    margin: auto;
    margin-bottom: 10px;
}
/* --- inspo item --- */
.inspo-card-detail-img-top {
    width: 500px ;
    height: 500px ;
}
/* --- Shopping bag --- */
.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.update-link,
.remove-item {
    cursor: pointer;
    font-size: 13px;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.cart-product-name{
color: #433E3F;
font-size: 16px;
}

.cart-product-name:hover{
color: grey;
text-decoration: none;
}

.cart-total{
font-weight: 600;
}

.cart-items-total{
margin: 3rem 0;
font-family: 'Lato';
}



.cart-card-header{
padding-bottom: 2rem;
text-transform: uppercase;
font-size: 20px;
font-weight: 500;
}

.card-footer-text{
font-size: 14px;
color: #d80000;
}

.cart-footer{
padding: 2rem 1rem;
font-size: 14px;
}

.cart-footer-row{
margin: 2rem 0;
}
/* ----- End of Styling ----- */
/* ----- Start of Media Queries ----- */
/* --- Greater than 1200px --- */
@media screen and (max-width: 1200px) {
    .container {
      max-width: 80%;
    }
    /* --- inspo --- */
    .inspo-card {
        width: 300px;
    }
    .inspo-card-img-top {
        height: 300px;
        width: 300px;
    }
    /* --- inspo item detail --- */
    .inspo-card-detail-img-top {
        width: 400px ;
        height: 400px ;
    }
  }

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}